<div class="container">
  <h2>About Us</h2>
    <p>The apple is a deciduous tree, generally standing 6 to 15 ft tall in cultivation and up to 30 ftin
  the wild. When cultivated, the size, shape and branch density are determined by rootstock selection and trimming method.
      The leaves are alternately arranged dark green-colored simple ovals with serrated margins and slightly downy undersides.</p>

    <p>Blossoms are produced in spring simultaneously with the budding of the leaves, and are produced on spurs and some long shoots.
  The 3 to 4 cm flowers are white with a pink tinge that gradually fades, five petaled, with an inflorescence consisting
  of a cyme with 4–6 flowers. The central flower of the inflorescence is called the "king bloom"; it opens first, and can develop a
      larger fruit.</p>

    <p>The fruit matures in late summer or autumn, and cultivars exist with a wide range of sizes. Commercial growers aim to produce
  an apple that is 2 to  nnine in diameter, due to market preference. Some consumers, especially those in
  Japan, prefer a larger apple, while apples below 2 1⁄4 in (5.7 cm) are generally used for making juice and have little fresh market value.
  The skin of ripe apples is generally red, yellow, green, pink, or russetted although many bi- or tri-colored cultivars may be found.
  The skin may also be wholly or partly russeted i.e. rough and brown. The skin is covered in a protective layer of epicuticular wax.
      The exocarp (flesh) is generally pale yellowish-white, though pink or yellow exocarps also occur.</p>
</div>
