<footer class="page-footer font-small blue pt-4 a">
  <div class="container-fluid text-center text-md-left a"><br>
    <div class="row">

      <div class="col-md-3 mb-md-0 mb-3 b">
        <h5 class="text-uppercase">Contacts</h5>
        <ul class="list-unstyled ">
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/archives/">Archives</a>
          </li>
          <li>
            <a href="/advertising/">Advertise</a>
          </li>
          <li>
            <a href="/jobs/">Jobs</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3 b">
        <h5 class="text-uppercase">About us</h5>
        <ul class="list-unstyled ">
          <li class="b">
            Telephone: 038583759
          </li>
          <li >
            Email: lalala@lalala.com
          </li>
          <li>
            Adress: str.Tratata12, bl.384
          </li>
          <li>
            hello come in
          </li>
        </ul>
      </div> <br>

    </div><br>
  </div>
</footer>
