<form  id="userform">

  First name:<br>
  <input type="text" name="firstname" value="MEnter your first name">
  <br><br>
  Last name:<br>
  <input type="text" name="lastname" value="Enter your last name">
  <br><br>
  Email:<br>
  <input type="text" name="lastname" value="Enter your email here...">
  <br><br>
  Message:<br>
  <textarea name="comment"  form="userform">Enter your message  here...</textarea>
  <br><br>

  <button type="button" (click)="onSubmit(submit)"> Submit</button>

</form>

