<div class="container" >
  <form  id="userform" class="myForm">

    <h2> ToDo </h2>
    <p>Please, enter  your tasks in the form bellow</p>

    <div class="form-group">
      <label class="form-check-label"> Todo: {{todo.name}}</label><br>
      <input      type="text"
                  class="form-control myInputStyle"
                  name="name"
                  placeholder="Enter your ToDo name"
>
    </div>

    <div class="form-group">
      <label class="form-check-label">Finished: {{todo.finished}}</label><br>
      <input type="text"
             class="form-control form-control-sm myInputStyle"
             name="finished"
             placeholder="Enter your ToDo status"
             >
    </div>

    <div class="form-group ">
      <label class="form-check-label">Date:{{todo.finishedAt.date}}</label><br>
      <input type="text"
             class="form-control myInputStyle"
             name="finishedAt"
             placeholder="Enter your ToDo date here..."
             >
    </div>

    <div class="form-group">
      <label class="form-check-label"> Todo Description {{todo.finishedAt.description}}</label> <br>
      <textarea name="description"
                rows="10"
                class="form-control myInputStyle"
                >Enter your ToDo here...
    </textarea>
    </div>

    <button type="button" class="btn btn-sm btn-outline-primary" (click)="onSubmit(submit)"> Submit</button>

  </form>
</div>
